.tabellen {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.fancy-checkbox {
    display: inline-block;
    padding-inline: 10px;
}

.fancy-radio {
    display: inline-block;
}

